{% extends "_layout" %}
{% block main %}
		{% block header %}

<div class="pages-header">

	<div class="content-wrapper">
			<div class="dropdown">
				<div class="dropbtn">▼</div>
				<div class="dropdown-content">
					{% for entry in craft.entries.section("pages").all() %}
						<a href="{{entry.url}}">
							<div class="h1">
								{{entry.rubrik}}
							</div>
						</a>
					{% endfor %}
				</div>
			</div>

				<div class="pages-header-rubrik">
					{% for entry in craft.entries.section('header').all() %}
					<a href="/">{{entry.rubrik}}</a>
					{% endfor %}
				</div>

	</div>
</div>



		{% endblock %}
	<div class="page-nav">

		{% set criteria = craft.entries.section('pages') %}

		{% set prev = entry.getPrev(criteria) %}
		{% set next = entry.getNext(criteria) %}



			{% if prev %}
				<div class="prev">
					<a href="{{ prev.url }}">
						<img src="../ikoner/prev.svg">
					</a>
				</div>
			{% endif %}


			{% if next %}
				<div class="next">
					<a href="{{ next.url }}">
				<img  src="../ikoner/next.svg" >
					</a>
				</div>
			{% endif %}




		<div class="page-content-wrapper">
			{% set assets = entry.ikon %}
			{% if assets.Url is defined %}
				{% for item in assets %}
					<img class="pages-ikon" src="{{ item.Url }}">

				{% endfor %}
			{% endif %}
				<div class="pages-rubrik">
					{{entry.rubrik}}
				</div>

				<div class="brodtext">
					{{ entry.brodtext}}
				</div>


			<div class="navbuttons-mobile">
				{% set criteria = craft.entries.section('pages') %}
				{% set prev = entry.getPrev(criteria) %}
				{% set next = entry.getNext(criteria) %}

					{% if prev %}
						<a class="button" href="{{ prev.url }}">Tidigare</a>
					{% endif %}

					{% if next %}
						<a class="button" href="{{ next.url }}">Nästa inlägg</a>
					{% endif %}

					{% if next %}
						<a class="button" href="/">Hem</a>
					{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
